/* Add your variable customizations of theme here */
$primaryColor:#2c84d8;
$primaryLightColor:#3B92E5;
$primaryTextColor:#ffffff;
$buttonTextColor: #fff;
$buttonBg: #2c84d8;
$buttonBorder: #2c84d8;
$inputPlaceholderTextColor: #676a6c;
$inputHoverBorderColor: #84bfe1;
$inputTextColor: #676a6c;
$inputFocusBorderColor: #256fba;
$buttonHoverBg: $buttonBg;
$errorColor: #f44336;
$inputErrorBorderColor: #f44336; 